body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffff;
}
h1 {
  color: #ffff;
  font-family: "Roboto" sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
h2 {
  color: #2e2f42;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
}
.logosp {
  color: #2e2f42;
}

.menu .menulist {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.address .contactlist {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address .contactlist:hover {
  color: #404bbf;
}
.address .contactlist:focus {
  color: #404bbf;
}

.hero-image {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #2e2f42;
  color: #434455;
  letter-spacing: 0.02em;
}
.hero-text {
  color: #ffffff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  color: #404bbf;
}
p {
  font-family: "Roboto" sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.feature .feature-list .feature-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature .feature-list .feature-parag {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team {
  background-color: #f4f4fd;
}
.our-team .team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.our-team .team-pic {
  background-color: #ffffff;
  list-style-type: none;
}
.our-team .team-pic .team-pic-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.our-team .team-pic .team-pic-parag {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-port .port-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.our-port .port-pic .port-pic-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.our-port .port-pic .port-pic-parag {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-sp {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
